{% extends "base.html" %}

{% block content %}
    <!-- Contact-->
    <section class="masthead" id="contact">
        <div class="container">
            <div class="text-center">
                <h4 class="section-heading text-uppercase">Редактировать короткую ссылку</h4>
                <p>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <form id="contactForm" method ='POST'  action="{{ url_for('edit') }}">
                {{ form.csrf_token }}  
                <div class="row align-items-stretch mb-5">
                   
                    <div class="text-center">
                        <div class="form-group">
                            {{form.source}}
                        </div>
                        <p></p>
                        <div class="form-group">
                        <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3" style="display: flex";><span  class="navbar-brand" style="color:#cccccc; margin: auto;">{{g.origin}}</span></span>    
                            {{form.output}}
                        </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="text-center">
                        <button class="btn btn-primary"  
                            type="submit" title="Сохранить новое имя ссылки" name='btm' value='save'>Сохранить изменения</button>
                        <button class="btn btn-primary"  
                            type="submit" title="Копировать в память короткую ссылку" name='btm' value = 'copy'>Копировать</button>
                        <button class="btn btn-primary"  
                            type="submit" title="Перейти по ссылке" name='btm' value='redirect'>Перейти</button>
                        <a href="{{ url_for('linklist', page=1) }}" class="btn btn-primary">Мои ссылки</a>
                        <a href="{{ url_for('truncate') }}" class="btn btn-primary">Сократить другую ссылку</a>
                    </div>
                
                </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class=flashes>
                            {% for message in messages %}
                                <h5 class="section-subheading text-muted">{{ message }}</h5>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </form>
        </div>
    </section>
{% endblock content %}