{% extends "base.html" %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">
                <p>Добро пожаловать на наш сервис сокращения ссылок 
                <small>
                <p><small>Кому нужна ссылка в километр длиной? Правильно - ни кому!</small>
                <p><small>Так давайте сокращать ссылки, прежде чем делиться ими!</small>
                </small>
            </div>
            <div class="masthead-heading text-uppercase"></div>
            <a class="btn btn-primary btn-xl text-uppercase" href="/truncate">Сокращать</a>
        </div>
    </header>
{% endblock content %}