{% extends "base.html" %}

{% block content %}
    <!-- Contact-->
    <section class="masthead" id="contact">
        <div class="container">
            <form id="contactForm" method ="POST"  action="{{ url_for('linklist', page=0) }}">
                {{ form.csrf_token }}  
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class=flashes>
                            {% for message in messages %}
                                <h5 class="section-subheading text-muted">{{ message }}</h5>
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                <div class="text-center">
                    <h4 class="section-heading text-uppercase">Список ссылок пользователя {{ g.logname }}</h4>
                </div>
                    {% for link in link_list %}
                        <span class="nav-link">{{ loop.index + (offset)*5 }}</span>
                        
                            <span class="section-subheading text-muted" style="color:#0000FF">{{ link.input }}</span>
                        
                            <p></p>
                        <div class="input-group">
                            <span class="form-control" style="color:#000000">{{ g.origin+link.ID }}</span>
                             <div class="input-group-btn">
                                <button class="btn btn-primary"  
                                        type="submit" title="Копировать в память короткую ссылку" name='copy' value ='{{link.ID}}'>Копировать</button>
                                <a href="{{ url_for('redirection', urlid=link.ID) }}" class="btn btn-primary"  
                                        type="submit" title="Перейти по ссылке" name='redirect' value = '{{link.ID}}'>Перейти</a>
                                <a href="{{ url_for('edit', id=link.ID) }}" class="btn btn-primary"  
                                        type="submit" title="Редактировать мою ссылку">Редактировать</a>
                                <a href="{{ url_for('statist', id=link.ID) }}" class="btn btn-primary"   
                                        type="submit" title="Посмотреть статистику переходов по ссылке">Статистика</a>                                        
                            </div>
                            <p></p>
                        </div>

                    {% endfor %}
              <div class="container">                       
                <div class="text-center">
                  <ul class="pagination">
                    <li>
                      <a class="nav-link" href="#" name="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                        {% for i in range(count_of_list) %}
                            <li><a class="nav-link" href="{{ url_for('linklist', page=i+1) }}">{{loop.index}}</a></li>
                        {% endfor %}
                    <li>
                      <a class="nav-link" href="#" name="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
        </div>
    </section>
{% endblock content %}